<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSAppKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SSAppKitResources.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>appkit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1ED9A61BFD275500ED7968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1ED9C91BFD2AAC00ED7968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE70BEB91785D07E003EF4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAF074514BFAE8900843C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEBBD28A1CB6B0E4008FFA6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEDAFF06174B2CC50092CC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
